/* ====================================
 Component
==================================== */
/* 文字数カウンターを定義しています。
==================================== */
.c-counter {
    display: block;
    position: relative;
    text-align: right;
}
