/* ====================================
 component
==================================== */
/* ドロップダウンメニューを定義しています
------------------------------------ */
.c-dropdown {
    &__menu {
        min-width: 120px;
        text-align: center;
        position: absolute !important;
    }

}
