/* ====================================
 component
==================================== */
/* ロゴを定義しています
------------------------------------ */
.c-logo {
    width: 150px;

    @include mq(sm){
        width: 110px;
    }
    &__img {
        width: 100%;
    }
}
