/* ====================================
 project
==================================== */
/* フレーズ詳細ページのプロフィールを定義しています
------------------------------------ */
.p-book-profile {
    display: flex;
    align-items: center;
    border-top: solid 1px $gray_lighter;
    width: 100%;
    margin-top: $space_s;
    padding-top: $space_s;

    // プロフィール画像
    &__img {
        width: 60px;
        margin-right: $space_l;

        img {
            width: 100%;
        }
    }

    // 投稿者名
    &__name {
        margin-bottom: 0;
        margin-right: $space_m;
    }

    // 投稿日
    &__date {
        margin-bottom: 0;
        margin-right: $space_xs;
    }

    &__wrap {
        display: block;
        align-items: center;
        border-top: solid 1px $gray_lighter;
        width: 100%;
        margin-top: $space_s;
        padding-top: $space_s;
    }
}
