/* ====================================
 project
==================================== */
/* クオートのカードを定義しています
------------------------------------ */
.p-book-card {
    margin-bottom: $space_xl;

    @include mq(md) {
        margin-bottom: $space_l;
    }

    // 詳細ページの場合
    &.detailPage {
        margin: 0 auto;
    }
}
