.p-footer {
    background-color: #fff;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    height: 90px;
    width: 100%;
    //padding: 20px 0;
    text-align: center;

    &-container{
        width: auto;
        max-width: 680px;
        padding: 20px 0;
    }

    .text-muted{
        //margin: 20px 0;
        margin-bottom: 0;
    }
}
