/* ====================================
project
==================================== */
/* プロフィール編集ページを定義しています
------------------------------------ */
.profile-img {
    margin: 0 auto 15px;
    width: 40%;
    text-align: center;
    img {
        width: 100%;
    }
}
