/* ====================================
 layout
==================================== */
/* mainコンテンツを定義しています
------------------------------------ */
.l-main{
    // フッター固定用
    flex: 1 0 auto;
    // IEでのフッター固定用
    min-height: 1px;
    padding: 30px 0 60px;
}
